<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/"
    ><img src="images/logo.png" style="width: 10vh"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/form">DarkHack Web Scraper</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/requestPage">Raise Request</a>
      </li>
    </ul>
  </div>
</nav>
