/* html {
  background: black;
  height: 100%;
  overflow: hidden;
} */

body {
  background: black;
  /* margin: 0;
  padding: 0;
  height: 100%;  */
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}
canvas {
  position: absolute;
}
a {
  color: #00b7ff;
}

.hrTextDiv {
  margin-top: 80px;
  margin-bottom: 80px;
}
.hrText {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #ffffff;
  font-weight: 550;
}

.hrText span {
  /* background: #fff; */
  padding: 10px;
  margin-top: 10vw;
}

.descText {
  font-size: 18px;
  font-weight: 200;
}

.nav-link {
  font-size: 2.1vh !important;
  color: white !important;
  font-weight: 550 !important;
}
.nav-link:hover {
  color: grey !important;
}
